/*------------------------------------------------------------------

[Master Stylesheet]

Project:                Bootstrap3 Resume & Portfolio HTML5 Template
Version:                1.0
Last Update:            15/06/2015
Author:                 Themearth
Website:                http://themearth.com/
Contact:                themearth.info@gmail.com


------------------------------------------------------------------

[Table of contents]

1. Global Styles
   1.1. Typography
   1.2. Section Title

2. Content
   2.1.  Header Section
   2.2.  Site Navigation
   2.3.  Profile Section
   2.4.  Award & Milestone Section
   2.5.  Resume Section
   2.6.  Hire Me Section
   2.7.  Service Section
   2.8.  Skills Section
   2.9.  Portfolio Section
   2.10.  Blog Section
   2.11. Testimonial Section
   2.12. Contact Section
   2.13. Address Section
   2.14. Footer Section

3. Responsive
   3.1 Responsive Style



/********************************************************************/
/* 1. GLOBAL STYLES
*********************************************************************/


/*-------------------------------------------------------------------*/
/* 1.1. TYPOGRAPHY
-------------------------------------------------------------------*/

@import "typography.less";

/*-------------------------------------------------------------------*/
/* 1.2. SECTION TITLE
-------------------------------------------------------------------*/

@import "title.less";


/********************************************************************/
/* 2. SITE CONTENT STYLES
*********************************************************************/


/*-------------------------------------------------------------------*/
/* 2.1. HEADER SECTION
-------------------------------------------------------------------*/

@import "header.less";

/*-------------------------------------------------------------------*/
/* 2.2. SITE NAVIGATION
-------------------------------------------------------------------*/

@import "navigation.less";

/*-------------------------------------------------------------------*/
/* 2.3. PROFILE SECTION
-------------------------------------------------------------------*/

@import "profile.less";

/*-------------------------------------------------------------------*/
/* 2.4. AWARD & MILESTONE SECTION
-------------------------------------------------------------------*/

@import "award.less";

/*-------------------------------------------------------------------*/
/* 2.5. RESUME SECTION
-------------------------------------------------------------------*/

@import "resume.less";

/*-------------------------------------------------------------------*/
/* 2.6. HIRE ME  SECTION
-------------------------------------------------------------------*/

@import "hire.less";


/*-------------------------------------------------------------------*/
/* 2.7. SERVICE SECTION
-------------------------------------------------------------------*/

@import "service.less";

/*-------------------------------------------------------------------*/
/* 2. SkILL STYLES
-------------------------------------------------------------------*/

@import "skill.less";


/*-------------------------------------------------------------------*/
/* 2.9. PORTFOLIO SECTION
-------------------------------------------------------------------*/

@import "portfolio.less";


/*-------------------------------------------------------------------*/
/* 2.10. CONTENT SECTION
-------------------------------------------------------------------*/

@import "blog.less";

/*-------------------------------------------------------------------*/
/* 2.11. TESTIMONIAL SECTION
-------------------------------------------------------------------*/

@import "testimonial.less";


/*-------------------------------------------------------------------*/
/* 2.12. CONTACT SECTION
-------------------------------------------------------------------*/

@import "contact.less";

/*-------------------------------------------------------------------*/
/* 2.13. ADDRESS SECTION
-------------------------------------------------------------------*/

@import "address.less";

/*-------------------------------------------------------------------*/
/* 2.14. FOOTER SECTION
-------------------------------------------------------------------*/

@import "footer.less";
@import "themeoptions.less";


/********************************************************************/
/* 3. RESPONSIVE STYLES
*********************************************************************/

@import "responsive.less";

/********************************************************************/
/*  LGX STYLE END ***************************************************
*********************************************************************/

/*-------------------------------------------------------------------*/
/* Theme Options:
-------------------------------------------------------------------*/
@import "themeoptions.less";


