
//== BRAND DEFAULT COLORS
@brand-color:#2ecb71;

//== BRAND RED COLORS
//@brand-color:#EF5350;

//== BRAND BLUE COLORS
//@brand-color:#3498db;


//== BRAND Olive COLORS
//@brand-color:#77c043;


//== BRAND Violet COLORS
//@brand-color:#9b36cd;


//== BRAND ORANGE COLORS
//@brand-color:#FFBB33;

//== BRAND Grey COLORS
//@brand-color:#607D8B;

//== BRAND pink COLORS
//@brand-color:#F06292;


//== Colors

@brand-light: lighten(@brand-color, 13.5%);
@brand-dark:  darken(@brand-color, 20%);



@white-color:#fff;

@brand-red:#e74f3f;

@black-base:#000;
@black-lighten:lighten(@black-base, 13.5%); // #222



//== Typography Variable


@font-family-sans-serif:  'Open Sans', Arial, sans-serif;
@font-family-base:  @font-family-sans-serif;

@headings-font-family: @font-family-base;
@headings-font-weight:800;

@font-size-base: 14;
